#rotate, #skew, #all, #animate{
  border: 2px solid #000;
  width: 200px;
  height: 200px;
  display: block;
  margin: 10px;
  text-align: center;
  margin-left: auto
  margin-right: auto;
}

h3{
  border-bottom: 1px solid #000;
  text-align: center;
  color: ;
}

img{
	width: 200px;
	height: 200px
}

body{
	text-align: center;
	background-color:;
}